@use '../abstracts/variables' as vars;
@use '../abstracts/colors';
@use '../abstracts/breakpoints' as *;

:root {
  font-size: vars.$font-size-root;
}

body {
  font-family: vars.$font-family-base;
  font-size: vars.$font-size-base;
  font-weight: vars.$font-weight-medium;
  line-height: vars.$line-height-base;
  color: colors.$desaturated-blue;
  height: 100vh;
  background: colors.$pale-blue url('../img/pattern-background-desktop.svg') top/contain no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;

  @include breakpoint('mobile', 'max') {
    background: colors.$pale-blue url('../../img/pattern-background-mobile.svg') contain no-repeat;
  }
}
